* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #21222c;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}

textarea,
input {
  resize: none;
  border: none;
  padding: 28px;
  background-color: #333645;
  color: white;
  outline: none;
  font-size: 24px;
  text-align: justify;
  border-radius: 1rem;
}
input {
  width: 100%;
}

textarea:focus {
  border: 1px solid #47fa7b;
}
